/******************
 * Fonts
 ******************/

@font-face {
	font-family: CocaColaFont;
	src: url(../fonts/LOKICOLA.TTF);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-Regular.ttf);
}

}

@font-face {
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(../assets/fonts/Oswald-Regular.ttf);
}