/******************
 * Fonts
 ******************/

@font-face {
	font-family: CocaColaFont;
	src: url(../fonts/LOKICOLA.TTF);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-Regular.ttf);
}

/******************
 * Themes
 ******************/

:root {
  --cola-red: #F40009;
  --body-background-color: rgba(0, 0, 0, 0.815);
  --card-text-color: #FFF;
  --card-background-color: rgba(0, 0, 0, 0.918);
  --primary-color: #000;
  --secondary-color: var(--cola-red);
}

[data-theme="day"] {
  --body-background-color: rgba(247, 247, 247, 0.856);
  --card-text-color: #000;
  --card-background-color: rgba(233, 233, 233, 0.918);
  --primary-color: var(--cola-red);
  --secondary-color: #000;
}


/******************
 * General
 ******************/

body {
  font-family: OpenSans;
  background: var(--body-background-color);
}

#content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  color: var(--card-text-color);
  border: 0px;
  background:var(--card-background-color);
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.card-title {
  font-weight: bold;
}

.card-header {
  font-weight: bold;
  color: #FFF;
  background: var(--cola-red);
  
}

.card-header:first-child {
  border-radius: 10px 10px 0 0;
}

/******************
 * Navbar
 ******************/

.navbar-coke {
  background-color: var(--primary-color);
  border-width: 0px;
  min-height: 70px;

  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.navbar-coke .navbar-brand {
  color: rgb(245, 235, 235);
  transition: color .5s;
}

.navbar-coke .navbar-brand:hover {
  color: var(--secondary-color);
}

.navbar-coke .navbar-nav .nav-item {
  margin: 0 5px;
}

.navbar-coke .navbar-nav > li > .nav-link {
  color: white;
  border-radius: 10px;
}

.navbar-coke .navbar-nav .nav-item > .nav-link:hover, 
.navbar-coke .navbar-nav .nav-item > .nav-link:focus {
  color: rgb(180, 180, 180);
}

.navbar-coke .navbar-nav .nav-item > .nav-link {
  padding: 10px;
}

.navbar-coke .navbar-nav .nav-item > .nav-link.active,
.navbar-coke .navbar-nav .nav-item > .nav-link.active:hover,
.navbar-coke .navbar-nav .nav-item > .nav-link.active:focus {
  background: #FFF;
  color:  #000;
}

.navbar-coke .navbar-toggler {
  border-color: white;
}

/******************
 * Logo
 ******************/

.logo {
  margin-top: 25px;
}
  
.logo h1 {
  font-family: CocaColaFont;
  font-size: 31px;
  margin: 0;
  margin-top: -5px;
  margin-bottom: -20px;
  float: left;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 2px;
}
  
.logo h2 {
  font-family: CocaColaFont;
  font-size: 31px;
  margin-top: -1px;
  margin-bottom: -20px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 3px;
  float: left;
}
  
.logo h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: -10px;
  padding-top: 0px;
  padding-left: 0px;
  float: left;
}
  
.logo p {
  font-size: 12px;
  margin-top: 27px;
  margin-bottom: -5px;
  padding-top: 0px;
  padding-left: 3px;
}

/******************
 * Main image
 ******************/

.main-image {
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  border-radius: 10px;

  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.main-image-text {
  float: left;
  margin: 5%;
  width: 90%;
  display: block;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 5px;
}

.main-image-text h2 {
  color: rgba(0,102,153,1);
  font-family: Oswald;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.main-image-text h3 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-image-text p {
  font-size: 12px;
  margin: 0px;
  line-height: 1.2;
}

/******************
 * Brands
 ******************/

.brand .card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.brand.card {
  border: 0px;

  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.brand.card .card-img-top {
  border-radius: 10px 10px 0 0;
}

/******************
 * Gallery
 ******************/

.gallery {
  margin-top: 10px;
  text-align: center;
}

.gallery .img-thumbnail {
  background-color: rgba(255, 255, 255, 0.0);
  padding: 0.25rem;
  margin: 5px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 43%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

/******************
 * Footer
 ******************/

.footer {
  color: #FFF;
  background: var(--primary-color);
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
}

.footer p {
  display: table-cell;
  vertical-align: middle;
}

.footer a {
  color: #FFF;
  font-weight: bold;
}

/******************
 * Small devices
 ******************/
@media (min-width: 576px) { 
  .gallery .img-thumbnail {
    max-width: 25%;
  }

  .light-btns .btn, 
  .animation-btns .btn, 
  .camera-btns .btn {
    font-size: 0.8rem;
    padding: .275rem .35rem;
  }
}

/******************
 * Medium devices
 ******************/
@media (min-width: 768px) { 
  .gallery .img-thumbnail {
    max-width: 25%;
  }

  .light-btns .btn, 
  .animation-btns .btn, 
  .camera-btns .btn {
    font-size: 0.8rem;
    padding: .275rem .35rem;
  }
}

/******************
 * Large devices
 ******************/
@media (min-width: 992px) { 
  .gallery .img-thumbnail {
    max-width: 43%;
  }

  .light-btns .btn, 
  .animation-btns .btn, 
  .camera-btns .btn {
    font-size: 1rem;
    padding: .375rem .75rem;
  }
}
